{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="Apoorv goes by the name of FalseG0d on Github. He forsees huge change due to technology and really wishes to be a part of it.">
    <meta name="keywords" content="Apoorv, Garg, Web Developer, Freelance, Hire, Build a Website, Portfolio">
    <meta name="author" content="Apoorv Garg">
    <link rel="icon" href="{{about.favicon.url}}" type="image/gif" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <title>{{about.first_name}} {{about.last_name}}</title>
</head>

<body>

    <!-- Navigation -->
    <nav class="site-navigation">
        <div class="site-navigation-inner site-container">
            <a href="/"><img src="{{about.logo.url}}" alt="site logo"></a>
            <!-- <div class="main-navigation">
                <a href="/games">Games</a>
                <a href="/blogs">Blogs</a>
                <a href="/contact">Contact</a>
            </div> -->
        </div>
    </nav>
    <!-- Navigation end -->

    <!-- Top banner -->
    <section class="fh5co-top-banner" id="#home">
        <div class="top-banner__inner site-container">
            <div class="top-banner__image">
                <img style="border-radius: 0 12% 0 0;" src="{% static '/images/top-banner-author.jfif' %}" alt="author image">
            </div>
            <div class="top-banner__text">
                <div class="top-banner__text-up">
                    <span class="brand-span">Hello! I'm</span>
                    <h2 class="top-banner__h2">{{about.first_name}}</h2>
                </div>
                <div class="top-banner__text-down">
                    <h2 class="top-banner__h2">{{about.last_name}}</h2>
                    <span class="brand-span">{{about.job}}</span>
                </div>
                <p>{{about.introduction}}
                </p>
                <a target="_blank" href="{{about.link}}" class="brand-button">View Github</a>
            </div>
        </div>
    </section>
    <!-- Top banner end -->
    <div style="padding: 5%;"></div>
    <!-- Work -->
    <section class="fh5co-books" id="#projects">
        <div class="site-container">
            <h2 class="universal-h2 universal-h2-bckg">Some of My Best Works</h2>
            <div class="books">
                {% for work in works %}
                <div class="single-book">
                    <a href="{{work.link}}" target="_blank" class="single-book__img">
                        <img src="{{work.image.url}}" alt="single book and cd">
                        <!--<div class="single-book_download">
                            <img src="{% static 'images/download.svg' %}" alt="book image">
                        </div>-->
                    </a>
                    <h4 class="single-book__title">{{work.name}}</h4>
                </div>
                {% endfor %}
            </div>
            <!--<div class="books-brand-button">
                <a href="{{about.all_work}}" target="_blank" style="background-color: black;" class="brand-button">View more</a>
            </div>-->
        </div>
    </section>
    <!-- Work end -->

    <!-- About me -->
    <h2 class="universal-h2 universal-h2-bckg">Research Papers</h2>
    <section class="fh5co-about-me" id="#research">
        <div class="about-me-inner site-container">
            <article class="portfolio-wrapper">
                <div class="portfolio__img">
                    <img src="{% static 'images/about-me.jpg' %}" style="border-radius: 36px 36px 36px 36px;" class="about-me__profile" alt="about me profile picture">
                </div><br>
                <h2 class="universal-h2 universal-h2-bckg">My Research Works</h2>
            </article>
            <div class="about-me__text">
                <div class="about-me-slider">
                    {% for paper in papers %}
                    <div class="about-me-single-slide">
                        <h2 class="universal-h2 universal-h2-bckg">{{paper.name}}
                        </h2>
                        <p><span>{{paper.first_word}}</span> {{paper.abstract}}</p>
                        <a href="{{paper.link}}" class="brand-button">View more</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div style="padding: 2%;" class="about-me-bckg"></div>
    </section>
    <!-- About me end -->

    <!-- Games -->
    <div style="padding: 5%;"></div>
    <section class="fh5co-books" id="#projects">
        <div class="site-container">
            <h2 class="universal-h2 universal-h2-bckg">Play Some Games I Made</h2>
            <div class="books">
                {% for work in games %}
                <div class="single-book">
                    <a target="_blank" href="{{work.link}}" class="single-book__img">
                        <img src="{{work.image}}" alt="single book and cd">
                        <!--<div class="single-book_download">
                            <img src="{% static 'images/download.svg' %}" alt="book image">
                        </div>-->
                    </a>
                    <h4 class="single-book__title">{{work.name}}</h4>
                </div>
                {% endfor %}
            </div>
            <div class="books-brand-button">
                <a href="https://falseg0d.itch.io/" target="_blank" style="background-color: black;" class="brand-button">View All</a>
            </div>
        </div>
    </section>

    <!-- Games end -->


    <!-- Counter -->
    <div class="fh5co-counter counters" id="#internships">
        <div class="counter-inner site-container">
            {% for count in counter %}
            <div class="single-count">
                <span class="count" data-count="{{count.number}}">0</span>
                <div class="single-count__text">
                    <p>{{count.name}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Media and Certificate -->

    <section class="fh5co-books" id="#projects">
        <div class="site-container">
            <h2 class="universal-h2 universal-h2-bckg">My Media</h2>
            <div class="books">
                {% for work in podcasts %}
                <div class="single-book">
                    <a href="{{work.link}}" class="single-book__img">
                        <img src="{{work.image.url}}" alt="single book and cd">
                        <!--<div class="single-book_download">
                            <img src="{% static 'images/download.svg' %}" alt="book image">
                        </div>-->
                    </a>
                    <h4 class="single-book__title">{{work.name}}</h4>
                </div>
                {% endfor %}
            </div>
            <!--
            <div class="books-brand-button">
                <a href="{{about.all_podcast}}" target="_blank" style="background-color: black;" class="brand-button">View more</a>
            </div>-->
        </div>
    </section>

    <!-- Media and Certificate end -->

    <!--Skills-->


    <section class="fh5co-books" id="#projects">
        <div class="site-container">
            <h2 class="universal-h2 universal-h2-bckg">Skills</h2>
            {% for skill in skills %}
            <div class="skill">
                <p><strong>{{skill.name}}</strong></p>
                <div class="container">
                    <div class="skills" style="background-color: {{skill.color}};width: {{skill.percentage}}%;">{{skill.percentage}}%</div>
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
    </section>

    <!--Skills End-->

    <!-- Articles -->
    <section class="fh5co-quotes">
        <div class="site-container">
            <div class="about-me-slider">
                {% for article in blogs %}
                <div>
                    <h2 class="universal-h2 universal-h2-bckg">{{article.name}}</h2>
                    <p>“{{article.abstract}}”</p>
                    <img src="{% static 'images/quotes.svg' %}" alt="quotes svg">
                    <div style="padding: 2%;"></div>
                    <a target="_blank" href="{{article.link}}" class="brand-button">Read Full Story</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Articles end -->

    <!-- Social -->
    <section class="fh5co-social">
        <div class="site-container">
            <div class="social">
                <h5>Find me on social media</h5>
                <div>
                    {% for link in links %}
                    <a href="{{link.link}}" target="_blank"><i style="color: white;font-size: x-large;" class="{{link.icon}}"></i></a> {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Social -->

    <!-- Footer -->
    <footer class="site-footer">
        <div class="site-container">
            <div class="footer-inner">
                <div class="footer-contact-form">
                    <h5>Leave A Message</h5>
                    <form action="mail" method="POST" class="contact-form">
                        {% csrf_token %} {{message_form.as_p}}
                        <input type="submit" name="submit" value="Submit" class="submit-button">
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-bottom" style="align-items: center;text-align: center;">
            <div class="site-container footer-bottom-inner">
                <div style="padding: 1%;"></div>
                <p style="align-items: center;text-align: center;">© 2020 | You have reached the perspnal website of Apoorv Garg aka <a target="_blank" href="https://github.com/FalseG0d">FalseG0d</a> | All rights Reserved.</p>
                <div style="padding: 1%;"></div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->

    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>